@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  font-size: 62.5%;
}
@media (min-width: 768px) and (max-width: 939px) {
  html {
    font-size: 1.0638297872vw;
  }
}
@media (min-width: 940px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 2.6666666667vw;
  }
}

body {
  font-weight: 700;
  color: #000000;
  font-family: "YuGothic", "Yu Gothic", "Hiragino Kaku Gothic ProN", sans-serif;
}

h1, h2, h3, h4, label, input, a, ul, li {
  display: block;
}

.inner {
  max-width: 94rem;
  padding-inline: 3rem;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .inner {
    padding-inline: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .pc_none {
    display: none;
  }
  .sp_none {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .sp_none {
    display: none;
  }
  .pc_none {
    display: block;
  }
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem 9.7rem 0 10rem;
  max-width: 108rem;
  height: 8rem;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  header {
    height: 5rem;
    padding: 1rem 0 1rem 1.7rem;
  }
}

.header__title {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__title h1 {
  height: inherit;
  font-size: 2rem;
  line-height: 1.15;
}
@media screen and (max-width: 767px) {
  .header__title h1 {
    font-size: 1.3rem;
    line-height: 1.0769230769;
  }
}
.header__title h1 a {
  height: inherit;
}
.header__title span {
  font-size: 1.5rem;
  line-height: 1.5333333333;
}
@media screen and (max-width: 767px) {
  .header__title span {
    font-size: 1.3rem;
    line-height: 1.0769230769;
  }
}

.header__title-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  position: relative;
  padding-left: 4.2rem;
}
@media screen and (max-width: 767px) {
  .header__title-link {
    padding-left: 3rem;
  }
}
.header__title-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3.2rem;
  height: 4.9rem;
  background-image: url("../image/top/logo_header.svg");
}
@media screen and (max-width: 767px) {
  .header__title-link::before {
    left: 1%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 2rem;
    height: 3.1rem;
    background-size: contain;
  }
}

.header__title-text {
  display: block;
}

.header__nav {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
.header__nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}
.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__nav li a {
  padding-inline: 0.5rem;
  height: inherit;
  text-decoration: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.header__nav li a:hover:not(.c__btn) {
  opacity: 0.5;
}

.header__nav-link {
  font-size: 1.7rem;
  line-height: 1.9411764706;
}

.btn-header {
  font-size: 1.5rem;
  line-height: 2.2;
  padding: 0.5rem 3rem !important;
}

/* hamburger menu */
/* ハンバーガーメニュー */
.hamburger {
  position: fixed;
  top: 0;
  right: 0;
  width: 7rem;
  height: 5rem;
  background: #CB0000;
  border: 0.1rem solid #CB0000;
  /* active状態 */
}
.hamburger.active .hamburger-line {
  background: transparent;
}
.hamburger.active .hamburger-line::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.hamburger.active .hamburger-line::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* 三本線 */
.hamburger-line,
.hamburger-line::before,
.hamburger-line::after {
  position: absolute;
  left: 1.8rem;
  top: 2.3rem;
  width: 3.2rem;
  height: 0.4rem;
  background: #ffffff;
  border-radius: 0.2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hamburger-line::before, .hamburger-line::after {
  content: "";
  left: 0;
}
.hamburger-line::before {
  top: -1.2rem;
}
.hamburger-line::after {
  top: 1.2rem;
}

/* ハンバーガーメニュー */
.hamburger-menu {
  position: fixed;
  top: 5rem;
  right: 0;
  width: 30rem;
  background: #CB0000;
  border: 0.1rem solid #CB0000;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: 999;
  visibility: hidden;
}
.hamburger-menu.active {
  visibility: visible;
}
.hamburger-menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin: 0;
}
.hamburger-menu nav ul li a {
  display: block;
  padding: 1.5rem 0 1rem 2rem;
  font-size: 1.8rem;
  line-height: 1.8333333333;
  text-decoration: none;
  color: #ffffff;
}
.hamburger-menu nav ul li a:hover {
  background-color: #000000;
}

/* ハンバーガー背景 */
.hamburger-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 998;
}
.hamburger-bg.active {
  visibility: visible;
}

footer {
  padding: 3rem 0 4rem;
}
@media screen and (max-width: 767px) {
  footer {
    padding: 3.8rem 0 5.5rem;
  }
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.7rem;
  line-height: 1.9411764706;
}
@media screen and (max-width: 767px) {
  .footer__nav {
    font-size: 1.6rem;
    line-height: 1.875;
  }
}

.footer__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3rem;
}
.footer__nav ul a {
  padding: 1rem;
}

.footer__logo {
  margin: 0 auto;
  margin-top: 1.3rem;
  width: 2.962962963vw;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    margin-top: 1.2rem;
    width: 8.5333333333vw;
  }
}
.footer__logo img {
  width: 100%;
}

.footer__copyright {
  margin-top: 2.5rem;
  font-size: 1.5rem;
  line-height: 2.2;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-top: 2.7rem;
    font-size: 1.5rem;
    line-height: 1.3333333333;
  }
}

.footer__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .footer__sns {
    gap: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__sns {
    margin-top: 1.7rem;
  }
}

.footer__sns ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2rem;
}
.footer__sns ul a {
  padding: 0 0.5rem 0.5rem;
}

.c-btn {
  border: 0.1rem solid #CB0000;
  color: #ffffff;
  background-color: #CB0000;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.c-btn:hover {
  color: #CB0000;
  background-color: #ffffff;
  border: 0.1rem solid #CB0000;
}

.c-bg-red {
  background-color: #CB0000;
  color: #ffffff;
}

.c-font-red {
  color: #CB0000;
}

.c-radius-red::before {
  content: "";
  width: 2rem;
  height: 2rem;
  background-color: #CB0000;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.c-text-center {
  text-align: center;
}

.top__first-view {
  position: relative;
}

.first-view__title {
  position: absolute;
  top: 52%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .first-view__title {
    top: 51%;
  }
}
.first-view__title h2 {
  font-size: 4rem;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .first-view__title h2 {
    font-size: 3rem;
    line-height: 1.6666666667;
    white-space: nowrap;
  }
}

.first-view__image {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(80, 80, 80, 0.5);
}
.first-view__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(80, 80, 80, 0.5);
  z-index: 1;
}
.first-view__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.top__message {
  padding: 6.8rem 0 6rem;
}
@media screen and (max-width: 767px) {
  .top__message {
    padding: 4.7rem 0 4.1rem;
  }
}

.message__title {
  text-align: center;
}
.message__title h2 {
  font-size: 3rem;
  line-height: 1.6666666667;
  margin-bottom: 3rem;
}
@media screen and (max-width: 767px) {
  .message__title h2 {
    font-size: 2.5rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }
}
.message__title p {
  font-size: 1.8rem;
  line-height: 1.6666666667;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .message__title p {
    font-size: 1.8rem;
    line-height: 1.6666666667;
  }
}

.top__concept {
  padding: 6.8rem 0 5.5rem;
}
@media screen and (max-width: 767px) {
  .top__concept {
    padding: 4.7rem 0 3.5rem;
  }
}

.concept__title {
  text-align: center;
}
.concept__title h2 {
  font-size: 3.5rem;
  line-height: 1.4285714286;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 767px) {
  .concept__title h2 {
    font-size: 2.5rem;
    line-height: 1.6;
    margin-bottom: 0.5rem;
  }
}
.concept__title p {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.6666666667;
}
@media screen and (max-width: 767px) {
  .concept__title p {
    margin: 0;
  }
}

.concept__image {
  margin-top: 3.4rem;
}
@media screen and (max-width: 767px) {
  .concept__image {
    margin-top: 2.2rem;
  }
}
.concept__image img {
  width: 100%;
}

.concept__3e {
  margin-top: 2rem;
  position: relative;
}
@media screen and (max-width: 767px) {
  .concept__3e {
    margin-top: 3.3rem;
  }
}

.concept__3e__arrow {
  position: absolute;
  top: -2.8rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.concept__3e__arrow img {
  height: 19rem;
}

.concept__3e__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}
.concept__3e__item:not(:first-child) {
  margin-top: 1.8rem;
}

.concept__3e__item-en {
  font-size: 2.5rem;
  line-height: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  padding-right: 2rem;
}
@media screen and (max-width: 767px) {
  .concept__3e__item-en {
    font-size: 2rem;
    line-height: 2.5;
  }
}

.concept__3e__item-jp {
  font-size: 2.3rem;
  line-height: 2.1739130435;
  font-weight: 500;
  color: #000000;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  padding-left: 2rem;
}
@media screen and (max-width: 767px) {
  .concept__3e__item-jp {
    font-size: 2rem;
    line-height: 2.5;
  }
}

.concept-radius-red::before {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.top__reason {
  padding: 6.4rem 0 9rem;
}
@media screen and (max-width: 767px) {
  .top__reason {
    padding: 4.9rem 0 3.9rem;
  }
}

.reason__title h2 {
  font-size: 3rem;
  line-height: 1.6666666667;
}
@media screen and (max-width: 767px) {
  .reason__title h2 {
    font-size: 2.5rem;
    line-height: 1.6;
  }
}

.reason__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2.8em;
  gap: 5rem;
}
@media screen and (max-width: 767px) {
  .reason__box {
    margin-top: 3.4rem;
    gap: 3.8rem;
  }
}

.reason__box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media screen and (max-width: 767px) {
  .reason__box-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.reason__box__item-image {
  width: 32.4074074074vw;
}
@media screen and (max-width: 767px) {
  .reason__box__item-image {
    width: 100%;
  }
}
.reason__box__item-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reason__box__item-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.reason__box__item-text h3 {
  padding-left: 5rem;
  font-size: 2.2rem;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .reason__box__item-text h3 {
    font-size: 2rem;
    line-height: 1.5;
    padding-left: 0;
  }
}
.reason__box__item-text span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #CB0000;
  margin-top: 1rem;
}
@media screen and (max-width: 767px) {
  .reason__box__item-text span {
    margin-top: 0.7rem;
  }
}
.reason__box__item-text p {
  font-weight: 500;
  margin-top: 3.7rem;
  padding-left: 5rem;
  font-size: 1.8rem;
  line-height: 1.8333333333;
}
@media screen and (max-width: 767px) {
  .reason__box__item-text p {
    font-size: 1.6rem;
    line-height: 1.875;
    padding-left: 0;
    margin-top: 1.7rem;
  }
}

.reason__box__item__text-1 h3 {
  margin-top: 0.7rem;
}
@media screen and (max-width: 767px) {
  .reason__box__item__text-1 h3 {
    margin-top: 3.2rem;
  }
}

.reason__box__item__text-2 h3 {
  margin-top: -0.3rem;
}
@media screen and (max-width: 767px) {
  .reason__box__item__text-2 h3 {
    margin-top: 3.2rem;
  }
}

.reason__box__item__text-3 h3 {
  margin-top: -0.5rem;
}
@media screen and (max-width: 767px) {
  .reason__box__item__text-3 h3 {
    margin-top: 3.2rem;
  }
}

.top__voice {
  padding: 4.4rem 0 8rem;
}
@media screen and (max-width: 767px) {
  .top__voice {
    padding: 4.5rem 0 5rem;
  }
}

.voice__title h2 {
  font-size: 3rem;
  line-height: 1.6666666667;
}
@media screen and (max-width: 767px) {
  .voice__title h2 {
    font-size: 2.5rem;
    line-height: 1.6;
  }
}

.voice__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3.5rem;
  margin-top: 3.6rem;
}
@media screen and (max-width: 767px) {
  .voice__box {
    margin-top: 4rem;
  }
}

.voice__box-item {
  width: 27rem;
}
@media screen and (max-width: 767px) {
  .voice__box-item {
    width: 100%;
  }
}

.voice__box-item-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.voice__box-item-text h3 {
  font-size: 2.2rem;
  line-height: 1.5;
  margin-top: 1.7rem;
}
@media screen and (max-width: 767px) {
  .voice__box-item-text h3 {
    margin-top: 2.7rem;
  }
}
.voice__box-item-text p {
  font-size: 1.8rem;
  line-height: 1.6666666667;
  font-weight: 500;
  margin-top: 1rem;
  margin-right: 0;
}

.top__flow {
  padding: 3.4rem 0 6.5rem;
}
@media screen and (max-width: 767px) {
  .top__flow {
    padding: 4.5rem 0 5rem;
  }
}

.flow__title h2 {
  font-size: 3rem;
  line-height: 1.6666666667;
}
@media screen and (max-width: 767px) {
  .flow__title h2 {
    font-size: 2.5rem;
    line-height: 1.6;
  }
}

.flow__box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 4.1666666667vw;
  gap: 4.3rem;
}
@media screen and (max-width: 767px) {
  .flow__box-wrapper {
    gap: 1.3rem;
    padding-left: 0;
  }
}

.flow__box-image {
  margin-top: 7.5rem;
  height: 41rem;
}
.flow__box-image img {
  height: 100%;
}
@media screen and (max-width: 767px) {
  .flow__box-image {
    margin-top: 5.7rem;
    height: 66.8rem;
  }
}

.flow__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5.8rem;
  margin-top: 5.3rem;
}
@media screen and (max-width: 767px) {
  .flow__box {
    margin-top: 3.8rem;
    gap: 3.6rem;
  }
}

.flow__box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 76rem;
  position: relative;
}
@media screen and (max-width: 767px) {
  .flow__box-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 76.5333333333vw;
    gap: 0.9rem;
  }
}
.flow__box-item h3 {
  font-size: 2.2rem;
  line-height: 1.5;
}
.flow__box-item p {
  font-size: 1.8rem;
  line-height: 1.6666666667;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .flow__box-item p {
    font-size: 1.6rem;
    line-height: 1.875;
  }
}

.flow-radius-red::before {
  position: absolute;
  top: 0.6rem;
  left: -7rem;
}
@media screen and (max-width: 767px) {
  .flow-radius-red::before {
    left: -4rem;
  }
}

.flow__box__item-title {
  width: 17.5925925926vw;
}
@media screen and (max-width: 767px) {
  .flow__box__item-title {
    width: 100%;
  }
}

.flow__box__item-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 767px) {
  .flow__box__item-text {
    width: 100%;
  }
}

.top__question {
  padding: 2.5rem 0;
}
@media screen and (max-width: 767px) {
  .top__question {
    padding: 0.5rem 0;
  }
}

.question__title h2 {
  font-size: 3rem;
  line-height: 1.6666666667;
}
@media screen and (max-width: 767px) {
  .question__title h2 {
    font-size: 2.5rem;
    line-height: 1.6;
  }
}

.question__box {
  margin-top: 3.5rem;
}
@media screen and (max-width: 767px) {
  .question__box {
    margin-top: 3.7rem;
  }
}

.question__box-item {
  border-top: 0.5px solid #000000;
}
.question__box-item:last-child {
  border-bottom: 0.5px solid #000000;
}

.question__box__item-q,
.question__box__item-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 3rem 1.5rem 1.6rem;
}
@media screen and (max-width: 767px) {
  .question__box__item-q,
  .question__box__item-a {
    padding: 1.7rem 1.5rem 0.9rem 0;
  }
}
.question__box__item-q p,
.question__box__item-a p {
  font-size: 1.7rem;
  line-height: 1.7647058824;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .question__box__item-q p,
  .question__box__item-a p {
    font-size: 1.6rem;
    line-height: 1.875;
  }
}

@media screen and (max-width: 767px) {
  .question__box-item:last-child .question__box__item-q {
    padding: 1.2rem 1.5rem 0.7rem 0;
  }
}

.question__box__item-a {
  background-color: rgba(203, 0, 0, 0.1);
  display: none;
}

.question__box-item.is-open .question__box__item-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.question__box__item-text {
  margin-left: 1.3rem;
}
@media screen and (max-width: 767px) {
  .question__box__item-text {
    width: 62.1333333333vw;
    padding-left: 0.6rem;
  }
}

.question__q-icon,
.question__a-icon {
  width: 3.5rem;
  height: 3.5rem;
}

.question__arrow {
  width: 1.3rem;
  height: auto;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  margin-left: auto;
}

.question__box-item.is-open .question__arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.top__blog {
  padding: 11.5rem 0 11.7rem;
}
@media screen and (max-width: 767px) {
  .top__blog {
    padding: 4.5rem 0 10.4rem;
  }
}

.blog__title h2 {
  font-size: 3rem;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .blog__title h2 {
    font-size: 2.5rem;
    line-height: 1.6;
  }
}

.blog__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.7rem;
  gap: 5rem;
}
@media screen and (max-width: 767px) {
  .blog__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4.2rem;
    margin-top: 4rem;
  }
}

.blog__box-item {
  width: 26rem;
  position: relative;
}
@media screen and (max-width: 767px) {
  .blog__box-item {
    width: 100%;
  }
}

.blog__box__item-image {
  aspect-ratio: 26/20;
}
@media screen and (max-width: 767px) {
  .blog__box__item-image {
    aspect-ratio: 33.5/20;
  }
}
.blog__box__item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__box__item-text h3 {
  font-size: 2rem;
  line-height: 1.25;
  margin-top: 3rem;
}
@media screen and (max-width: 767px) {
  .blog__box__item-text h3 {
    font-size: 2rem;
    line-height: 1.5;
  }
}
.blog__box__item-text time {
  font-size: 1.7rem;
  line-height: 1.7647058824;
  display: block;
  font-weight: 500;
  margin-top: 1.2rem;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .blog__box__item-text time {
    margin-top: 0.5rem;
  }
}

.btn-blog {
  font-size: 1.5rem;
  line-height: 1.6666666667;
  text-align: center;
  width: 8rem;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 767px) {
  .btn-blog {
    width: 9rem;
  }
}

.blog__linklist {
  margin-top: 3.7rem;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .blog__linklist {
    text-align: center;
  }
}
.blog__linklist a {
  font-size: 1.8rem;
  line-height: 1.6666666667;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 0.3rem;
  display: inline-block;
}

.top__contact {
  margin-top: 2.8rem;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .top__contact {
    text-align: center;
  }
}

.btn-contact {
  font-size: 2rem;
  line-height: 1.65;
  letter-spacing: 0.2em;
  padding: 1.6rem 7.6rem 1.2rem;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .btn-contact {
    padding: 1.3rem 9.6rem 0.8rem;
  }
}/*# sourceMappingURL=style.css.map */