// お問い合わせボタンやホームへ戻るボタン
// ブログや卒業実績で表示される「ギター」「集客方法」「ポップス」などのタグ
// 下層ページの見出し部分やパンくずリスト
// 一覧ページのページネーション
// サイト内で2回以上使うパーツが該当

.c-btn {
    border: 0.1rem solid $color-main;
    color: $color-white;
    background-color: $color-main;
    @include transition;
    &:hover {
        @include hover-reversecolor;
        border: 0.1rem solid $color-main;
    }
}

.c-bg-red {
    background-color: $color-main;
    color: $color-white;
}

.c-bg-black {
    background-color: $color-black;
    color: $color-white;
}

.c-font-red {
    color: $color-main;
}

.c-radius-red {
    &::before {
        content: '';
        width: 2rem;
        height: 2rem;
        background-color: $color-main;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
    }
}

.c-text-center {
    text-align: center;
}

// ビュー
.c-view {
    position: relative;

    &-image {
        position: relative;
        width: 100%;
        height: 100%;
        background: rgba(80, 80, 80, 0.5);

        &::before {  
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(80, 80, 80, 0.5);  // 半透明グレー
            z-index: 1;
        }

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &-text {
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        h2 {
            @include text-style(2.5rem, calc(60/25));
            color: $color-white;
        }
    }
}

.c-band {
    width: 100%;
    background-color: $color-band;
    display: flex;
    align-items: center;
    padding-left: 10rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;

    @include sp {
        padding-left: 2rem;
        padding-top: 0.8rem;
        padding-bottom: 0.3rem;
    }

    &-text {
        @include text-style(1.6rem, calc(33/16));
        line-height: 1.5;
        font-weight: 500;
        color: $color-text;
    }


}

.c-blog__card {
    position: relative;
    &-btn {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.c-blog-side__title {
    width: 25rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @include sp {
        width: 33.5rem;
    }

    h2 {
        @include text-style(1.8rem, calc(33/18));
    }
}