// お問い合わせボタンやホームへ戻るボタン
// ブログや卒業実績で表示される「ギター」「集客方法」「ポップス」などのタグ
// 下層ページの見出し部分やパンくずリスト
// 一覧ページのページネーション
// サイト内で2回以上使うパーツが該当

.c-btn {
    border: 0.1rem solid $color-main;
    color: $color-white;
    background-color: $color-main;
    @include transition;
    &:hover {
        @include hover-reversecolor;
        border: 0.1rem solid $color-main;
    }
}

.c-bg-red {
    background-color: $color-main;
    color: $color-white;
}