イレギュラーなパターンのみ

.u-upper-arrow-contact {
    right: 10.2rem;
    @include sp{
        right:5rem !important;
    }
}

.u-2-pb {
    @include sp {
        padding-bottom: 0.6rem;
    }
}

.u-plan-p {
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;

    @include sp {
        padding-top: 1em;
    }

    p {
    line-height: 1;
    }
}