イレギュラーなパターンのみ

.u-upper-arrow-contact {
    right: 10.2rem;
    @include sp{
        right:5rem !important;
    }
}

.u-plan-p {
    padding: 0.8rem 0.5rem 0.5rem 0.5rem;

    @include sp {
        padding: 1rem 0.5rem 0.5rem 0.5rem;
    }

    p {
        line-height: 1;
        margin: 0;
    }
}