// イレギュラーなパターンのみ
.u-upper-arrow-index {
    right: 11.5rem;
    bottom: 33rem;
    @include sp{
        right: 2rem;
        bottom: 39rem;
    }
}

.u-upper-arrow-contact {
    right: 10.2rem;
    bottom: 30.5rem;
    @include sp{
        right:3rem;
        bottom: 33.5rem;
    }
}

.u-2-pb {
    padding-bottom: 0.6rem;
}

.u-plan-p {
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
    p {
    line-height: 1;
    }
}