// 枠組み

.blog-details-content {
    display: flex;
    gap: 3rem;
    padding-top: 7rem;
    padding-bottom: 9.5rem;
    @include sp {
        flex-direction: column;
        padding-top: 5rem;
        padding-bottom:10.8rem;
        gap: 3rem;
    }
}

.blog-details-main {
    width: 60rem;
    @include sp {
        width: 100%;
    }
}

.blog-details-side {
    flex: 1;
    @include sp {
        width: 100%;
    }
}

// ----------------------------------------------------------------
// main
// ----------------------------------------------------------------

// カード --------------------------------
.blog-details-main__card-image {
    aspect-ratio: 60 / 35;
    @include sp {
        aspect-ratio: 33.5 / 20;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.blog-details-main__card-text{
    h2 {
        @include text-style(2.5rem, calc(40/25));
        margin-top: 5.4rem;
        line-height: 1;
        @include sp {
            @include text-style(2rem, calc(30/20));
            margin-top: 3rem;
        }
    }
    time {
        display: block;
        @include text-style(1.7rem, calc(30/17));
        font-weight: 500;
        margin-top: 1.3rem;
        @include sp {
            margin-top: 0.6rem;
        }   
    }

    span {
        display: inline-block;
    }
}

.blog-details-main__card-btn {
    width: 8rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    @include text-style(1.5rem, calc(25/15));
    padding-top: 0.2rem;
    @include sp {
        width: 9rem;
    }
}

// sns
.blog-details-main__sns {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-top: 2rem;
    @include sp {
        gap: 0.2rem;
    }
}


.blog__sns-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog__sns__icon-text {
    @include text-style(1rem, calc(33/10));
    color: $color-white;
}

.blog__sns-box-facebook {
    background-color: $color-facebook;
    padding: 0.4rem 1.6rem;

    p {
        padding-left: 1.4rem;
    }
}

.blog__sns-box-twitter {
    background-color: $color-twitter;
    padding: 0.4rem 1.3rem 0.4rem 1.4rem;

    p {
        padding-left: 0.7rem;
    }
}

.blog__sns-box-hatena {
    background-color: $color-hatena;
    padding: 0.4rem 1.3rem 0.4rem 1.3rem;

    p {
        padding-left: 1.2rem;
    }
}

.blog__sns-box-line {
    background-color: $color-line;
    padding: 0.4rem 1.7rem 0.4rem 1.4rem;

    p {
        padding-left: 0.7rem;
    }
}

.blog__sns-box-pocket {
    background-color: $color-pocket;
    padding: 0.4rem 1.3rem 0.4rem 1.3rem;

    p {
        padding-left: 0.9rem;
    }
}


.blog__sns-box-facebook,
.blog__sns-box-twitter,
.blog__sns-box-hatena,
.blog__sns-box-line,
.blog__sns-box-pocket {
    @include sp {
        padding: 0;
        width: 6.5rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}



// text --------------------------------
.blog-details-main__text-p1 {
    @include text-style(1.8rem, calc(30/18));
    font-weight: 500;
    margin-top: 4.8rem;
    @include sp {
    @include text-style(1.6rem, calc(30/16));
        margin-top: 2.7rem;
    }

    span {
        display: inline-block;
    }
}

.blog-details-main__text-h2 {
    @include text-style(2rem, calc(40/20));
    margin-top: 3.3rem;
    @include sp {
        @include text-style(2rem, calc(30/20));
        margin-top: 4rem;
    }
}

.blog-details-main__text-p2 {
    @include text-style(1.8rem, calc(30/18));
    font-weight: 500;
    margin-top: 1.5rem;
    @include sp {
        @include text-style(1.6rem, calc(30/16));
        margin-top: 1.7rem;
    }

    span {
        display: inline;
    }
}

// image --------------------------------
.blog-details-main__image {
    width: 33.5rem;
    aspect-ratio: 33.5 / 20;
    margin-top: 1.7rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @include sp {
        margin-top: 4rem;
    }
}

// list --------------------------------
.blog-details-main__list {
    margin-top: 2.8rem;
    @include text-style(1.8rem, calc(30/18));
    font-weight: 500;
    @include sp {
        @include text-style(1.6rem, calc(30/16));
        margin-top: 2.7rem;
    }
}

// border --------------------------------
.blog-details-main__border {
    margin-top: 4rem;
    border-top: 0.5px solid $color-text;
    @include sp {
        margin-top: 3.8rem;
    }
}

// text--------------------------------
.blog-details-main__text-h3 {
    margin-top: 4.3rem;
    position: relative;
    padding-left: 1rem;
    @include sp {
        margin-top: 5rem;
    }

    h3 {
        @include text-style(2rem, calc(40/20));
        @include sp {
            @include text-style(2rem, calc(30/20));
        }

        &::before {
            content: "";
            position: absolute;
            top: 43%;
            left: 0;
            transform: translateY(-50%);
            display: block;
            width: 0.3rem;
            height: 2rem;
            background-color: $color-text;

            @include sp {
                height: 5rem;
            }
        }
    }
}

// callout-box--------------------------------
.blog-details-main__callout-box {
    margin-top: 1.7rem;
    background-color: $color-band;
    position: relative;
    p {
        @include text-style(1.8rem, calc(30/18));
        font-weight: 500;
        padding: 1.8rem 3rem 1rem 6.7rem;
        @include sp {
            @include text-style(1.6rem, calc(30/16));
            padding: 1.7rem 2rem 1rem 7rem;
        }
    }
}

.blog-details-main__callout-box-image {
    width: 2.7rem;
    position: absolute;
    top: 2rem;
    left: 3rem;

    @include sp {
        top: 2.1rem;
        left: 2.5rem;
    }

    img {
        width: 100%;
    }
}

// textlink--------------------------------
.blog-details-main__text-link {
    margin-top: 3.4rem;
    @include sp {
        margin-top: 3.7rem;
    }

    a {
        @include text-style(2rem, calc(33/20));
        line-height: 1;
        display: inline-block;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: $color-main;
        }
    }

    a:hover {
        @include hover-opacity;
    }
}

// article-before&after--------------------------------
.blog-details-main__article-before-after{
    display: flex;
    margin-top: 5.7rem;
    gap: 8rem;
    @include sp {
        margin-top: 5rem;
        gap: 2.2rem;
    }
}

// 共通項目
.blog-before-after__content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.blog-before-after__item {
    display: flex;
    gap: 1.6rem;
}

.blog-before-after__title {
    padding-top: 0.4rem;
    padding-bottom: 0.3rem;
    p{
        @include text-style(1.7rem, calc(30/17));
        font-weight: 500;
    }

    a {
        &:hover {
            @include hover-opacity;
        }
    }
}

.blog-before-after__item-image {
    width: 9.8rem;
    aspect-ratio: 9.8 / 6.8;

    picture {
        display: block;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.blog-before-after__item-text {
    flex: 1;
    p {
        @include text-style(1.6rem, calc(25/16));
    }
}

// before
.blog-before-content {
    p{
        padding-left: 2rem;
        text-align: left;
    }
}

// after
.blog-after-content {
    p{
        padding-right: 2rem;
        text-align: right;
    }
}

// article--------------------------------
.blog-details-main__article {
    margin-top: 9.5rem;
    @include sp {
        margin-top: 6.1rem;
    }
}

.blog__main__article-title {
    h2 {
        @include text-style(1.8rem, calc(33/18));
        padding: 0.9rem 0 0.8rem 3rem;
        @include sp {
            text-align: center;
            padding:1rem 0;
        }
    }
}

.blog__main__article-items {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include sp {
        margin-top: 1.9rem;
        gap: 2rem;
    }
}

// card
.blog__main__article-items-card {
    display: flex;
    gap: 3rem;
    @include sp {
        gap: 2rem;
    }
}

.blog-article__card-image {
    width: 20rem;
    aspect-ratio: 20 / 14;
    @include sp {
        width: 16rem;
        aspect-ratio: 16 / 11;
    }
    img {
        width: 100%;
        object-fit: cover;
    }
}

.blog-article__card-text {
    flex: 1;
    h3 {
        @include text-style(2rem, calc(25/20));
        @include sp {
            @include text-style(1.7rem, calc(28/17));
            margin-top: 0.8rem;
        }
    }

    time {
        display: block;
        @include text-style(1.7rem, calc(30/17));
        font-weight: 500;
        margin-top: 1.3rem;
        padding-left: 0.5rem;
        @include sp {
            margin-top: 0.3rem;
            padding-left: 0;
        }
    }

    span {
        display: inline-block;
        @include sp {
            display: none;
        }
    }
}

.blog-article__card-btn {
    width: 8rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    @include text-style(1.5rem, calc(25/15));
    padding-top: 0.2rem;

}


// ----------------------------------------------------------------
// side
// ----------------------------------------------------------------

// 無料メールマガジン 
.blog-details-side__free__magazine-box {
    border: 0.5px solid $color-text;
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include sp {
        height: 26.8rem;
    }

    span {
        display: block;
        width: 22rem;
        height: 17rem;
        background-color: $color-band;

        @include sp {
            width: 29.5rem;
            height: 22.8rem;
        }
    }

    p {
        @include text-style(1.8rem, calc(33/18));
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


// ブログ内を検索
.blog-details-side__search {
    margin-top: 3rem;
}

.blog-details-side__search-box {
    border: 0.5px solid $color-text;
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include sp {
        height:9.3rem;
    }
}

.blog-details-side__search__box-input {
    width: 18rem;
    height: 4rem;
    background-color: $color-band;

    @include sp {
        width: 24.1rem;
        height: 5.4rem;
    }
}

.blog-details-side__search__box-image {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-text;

    @include sp {
        width: 5.4rem;
        height: 5.4rem;
    }

    img{
        @include sp {
            width: 2.6rem;
        }
    }
}

// おすすめの記事
.blog-details-side__recommend {
    margin-top: 3rem;
    
}

.blog-details-side__recommend-box {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include sp {
        margin-top: 2.2rem;
        gap: 2rem;
    }
}

.blog-details-side__recommend__box-item {
    display: flex;
    gap: 1.5rem;
    @include sp {
        gap: 2rem;
    }
}

.blog-details-side__recommend__box__item-image {
    width: 9.5rem;
    height: 7.5rem;
    background-color: $color-band;
    @include sp {
        width: 16rem;
        height: 11rem;
    }
}

.blog-details-side__recommend__box__item-text {
    flex: 1;
    @include sp {
        width: 100%;
    }
    p {
        @include text-style(1.7rem, calc(28/17));
        font-weight: 500;
        @include sp {
            margin-top: 0.8rem;
        }
    }
}


// カテゴリー
.blog-details-side__category {
    margin-top: 3rem;
}

.blog-details-side__category__box-item {
    p {
        @include text-style(1.7rem, calc(28/17));
        font-weight: 500;
        padding-top: 1.2rem;
        padding-bottom: 0.67rem;
        border-bottom: 0.5px solid $color-text;
    }
} 






