.contact-form-text {
    margin-top: 6.8rem;
    p {
        @include text-style(1.8rem, calc(30/18));
        font-weight: 500;
        // @include sp {
        //     @include text-style(1.6rem, calc(30/16));
        // }
    }
}

//構造の決定

.contact-form-items {
    margin-top: 6.4rem;

    form {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    
}

.form__items-flex {
    display: flex;
    align-items: center;
}

.form__items-left {
    width: 17rem;
}

.form__items-right {
    flex: 1;
}

// 文字大きさ決定
.form__items-company,
.form__items-name,
.form__items-email,
.form__items-tel,
.form__items-content {
    label {
        @include text-style(2rem, calc(33/20));
        font-weight: 500;
    }
    input,
    textarea {
        @include text-style(1.5rem, calc(33/15));
        font-weight: 500;
    }
}

.form__items-question {
    label {
        @include text-style(2rem, calc(30/20));
        font-weight: 500;
    }


}   

// 枠組み
.form__items-company,
.form__items-name,
.form__items-email,
.form__items-tel,
.form__items-content {
    .form__items-right {
        border: 0.05rem solid $color-text;
        padding-top: 0.6rem;
        padding-left: 2rem;
        cursor: pointer;
    
        input {
            width: 100%;
        }
    
        
    }
}

// 左微調整
.form__items-left {
    padding-top: 0.3rem;
}


// 質問の枠組み
.form__items-question {
    align-items: flex-start;
    margin-top: -0.6rem;
    .form__items-right {
        span {
            @include text-style(1.8rem, calc(30/18));
            text-align: left;
            font-weight: 500;
        }
    }
}

    // checkbox
.form__items-checkbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    label {
    cursor: pointer;
    }

    input[type="checkbox"] {
        display: none;
    }
    
    span {
        position: relative;
        padding-left: 4rem;
    }

    span::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 2rem;
        height: 2rem;
        border: 0.05rem solid $color-text;
    }

    input[type="checkbox"]:checked + span::after {
        content: '\f00c';
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        position: absolute;
        left: 0.3rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

// 内容の枠組み
.form__items-content {
    align-items: flex-start;
    .form__items-right {
        margin-top: -0.3rem;
        padding-top: 1rem;

        textarea {
            width: 100%;
            height: 29rem;
            resize: vertical;
        }
    }
}


// 送信ボタン
.btn-contact-form {
    margin: 2rem auto 10rem;
    width: 25rem;
    height: 5rem;
    @include text-style(2.5rem, calc(33/25));

}