.search__main-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6.6rem;
    @include sp {
        margin-top: 3.6rem;
    }
    p {
        @include text-style(1.8rem, calc(30/18));
        font-weight: 500;
        span {
            color: $color-text;
            font-weight: 700;
        }
    }
}




// テンプレ--------------------------------
// items
.search__main-items {
    margin-top: 4.3rem;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    @include sp {
        gap: 4rem;
    }
}

// card
.search__items-card {
    display: flex;
    gap: 5rem;
    @include sp {
        flex-direction: column;
        gap: 0;
    }
}

.search__card-image {
    width: 26rem;
    height: 18.4rem;
    @include sp {
        width: 33.5rem;
        height: 20rem;
    }
    picture {
        display: block;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// text
.search__card-text {
    flex: 1;
    @include sp {
        width: 100%;
    }
    h3 {
        @include text-style(2rem, calc(25/20));
        margin-top: -0.1rem;
        @include sp {
            @include text-style(2rem, calc(30/20));
            margin-top: 3rem;
        }
    }
    time {
        display: block;
        @include text-style(1.7rem, calc(30/17));
        font-weight: 500;
        margin-top: 0.3rem;
        @include sp {
            text-align: right;
            margin-top: 0.4rem;
        }
    }
    p {
        @include text-style(1.8rem, calc(30/18));
        font-weight: 500;
        margin-top: 1rem;
        @include sp {
            margin-top: 0.9rem;
            @include text-style(1.6rem, calc(30/16));
        }
    }

    span {
        display: inline-block;

        @include sp {
            display: none;
        }
    }
}

.search__negative-margin {
    margin-bottom: -0.5rem;
    @include sp {
        margin-bottom: 0;
    }
}

// btn
.search__card-btn {
    @include text-style(1.5rem, calc(25/15));
    width: 8rem;
    height: 3rem;
    padding-top: 0.2rem;
    @include sp {
        width: 9rem;
    }
}





// pagination
.search__pagination {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 14.8rem;
    @include text-style(1.8rem, calc(30/18));
    @include sp {
        margin-top: 6rem;
        margin-bottom: 14.5rem;
    }
  
    &-list {
      display: flex;
      gap: 1rem;
      list-style: none;
      align-items: center;
      @include sp {
        gap: 0.5rem;
      }
    }
  
    &-item {
      a {
        display: block;
        width: 5rem;
        height: 5rem;
        line-height: 5rem;
        text-align: center;
        border: 1px solid $color-text;
        text-decoration: none;
        transition: 0.3s;
        @include sp {
            width: 4.4rem;
            height: 4.4rem;
            line-height: 4.4rem;
        }
  
        &:hover {
          background-color: $color-text;
          color: $color-white;
        }
      }
  
      &.is-current a {
        background-color: $color-text;
        color: $color-white;
        border-color: $color-text;
      }
    }
  }