.top__flow {
    padding: 3.4rem 0 6.5rem;
    @include sp {
        padding: 4.5rem 0 5rem;
    }
}

.flow__title {
    h2 {
        @include text-style(3rem, calc(50/30));
        @include sp {
            @include text-style(2.5rem, calc(40/25));
        }
    }
}

.flow__box-wrapper {
    display: flex;
    position: relative;
    padding-left: 4.5rem;
    gap:4.3rem;
    @include sp {
        gap: 1.3rem;
        padding-left: 0;
    }
}

.flow__box-image {
    margin-top: 7.5rem;
    height: 41rem;
    img {
        height: 100%;
    }
    @include sp {
        margin-top: 5.7rem;
        height: 66.8rem;
    }
}

.flow__box {
    display: flex;
    flex-direction: column;
    gap: 5.8rem;
    margin-top: 5.3rem;
    @include sp {
        margin-top: 3.8rem;
        gap: 3.6rem;
    }
}

.flow__card {
    display: flex;
    align-items: start;
    width: 76rem;
    position: relative;
    @include sp {
        flex-direction: column;
        width: vw(287, 375);
        gap: 0.9rem;
    }

    h3 {
        @include text-style(2.2rem, calc(33/22));
    }

    p {
        @include text-style(1.8rem, calc(30/18));
        font-weight: 500;
        @include sp {
            @include text-style(1.6rem, calc(30/16));
        }
    }
}

.flow-radius-red {
    &::before {
        position: absolute;
        top: 0.6rem;
        left: -7rem;
        @include sp {
            left: -4rem;
        }
    }
}

.flow__card-title {
    width: 19rem;
    @include sp {
        width: 100%;
    }
}

.flow__card-text {
    flex: 1;
    @include sp {
        width: 100%;
    }
}

