footer {
    padding: 3rem 0 4rem;
    @include sp {
        padding: 3.8rem 0 5.5rem;
    }
}

.footer__nav {
    display: flex;
    justify-content: center;
    @include text-style(1.7rem, calc(33/17));
    @include sp {
        @include text-style(1.6rem, calc(30/16));
    }
}

.footer__nav ul {
    display: flex;
    align-items: center;
    gap: 1.3rem;

    a {
        padding: 1rem;
    }
}

.footer__logo {
    margin: 0 auto;
    margin-top: 1.3rem;
    width: 3.2rem;
    @include sp {
        margin-top: 1.2rem;
    }

    img {
        width: 100%;
    }
}

.footer__copyright {
    margin-top: 2.5rem;
    @include text-style(1.5rem, calc(33/15));
    font-weight: 500;
    @include sp {
        margin-top: 2.7rem;
        @include text-style(1.5rem, calc(20/15));
    }
}

.footer__sns {
    display: flex;
    justify-content: center;
    @include sp {
        gap: 2.5rem;
    }
    @include sp {
        margin-top: 1.7rem;
    }
}

.footer__sns ul {
    display: flex;
    align-items: center;
    gap: 0.2rem;

    a {
        padding: 0 0.5rem 0.5rem;
    }
}